* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

h2 {
  max-width: 616px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 24px;
}

h3 {
  color: #4D533C;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.text {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  background-color: transparent;
  color: #D4D6D4;
}
.btn:hover {
  color: yellow;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.comment {
  color: #4D533C;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
}

.cite {
  color: #4D533C;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90px;
  height: 90px;
  margin-right: 30px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  border-radius: 100%;
  padding: var(--offset-vertical) var(--offset);
  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
}
.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  display: inline-block;
  width: calc(100% - var(--offset-horizontal) * 2);
  height: 1px;
  background-color: #000;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}
.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  padding-top: 170px;
  background-image: url("../img/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}
.hero__subtitle {
  color: #FFF;
}
.hero__title {
  color: #FFF;
}
.hero__text {
  max-width: 581px;
  color: #FFF;
  margin-bottom: 45px;
}

.partner {
  position: relative;
  bottom: 100px;
  left: 0;
  padding-left: calc((100% - 1110px) / 2);
}
.partner__grid {
  border-radius: 2px;
  background: #FFF;
  -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
}
.partner__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 66px 1fr 66px 1fr 66px 1fr 66px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 66px;
     -moz-column-gap: 66px;
          column-gap: 66px;
  padding: 60px 166px 54px 65px;
}
.partner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.help {
  background-color: white;
}
.help__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 160px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}
.help__subtitle {
  color: rgba(77, 83, 60, 0.9);
}
.help__text {
  margin-top: 35px;
  margin-bottom: 45px;
}
.help__person {
  padding-bottom: 60px;
}
.help__content {
  -webkit-box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  padding-left: 40px;
}
.help__cite span {
  color: #152934;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help__author {
  margin-top: 14px;
}

.portfolio {
  margin-top: 251px;
}
.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 133px;
}
.portfolio__text {
  max-width: 518px;
}
.portfolio__descr {
  margin-top: 24px;
}
.portfolio__list {
  margin-top: 104px;
}
.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 56px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  position: relative;
  margin-top: 90px;
}
.portfolio__grid :first-child {
  margin-top: 0;
}
.portfolio__grid--reverse .portfolio__col:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.portfolio__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.portfolio__content {
  -webkit-box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  padding-left: 40px;
  z-index: 5;
  position: relative;
  background-color: white;
  padding: 30px 32px 29px 30px;
}
.portfolio__author {
  margin-top: 14px;
}
.portfolio__cite span {
  color: #152934;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.portfolio__btn {
  margin-top: 90px;
}

.privelegy {
  margin-top: 200px;
}
.privelegy__title {
  max-width: 607px;
}
.privelegy__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.privelegy-item {
  margin-top: 87px;
  padding: 27px 42px 36px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.privelegy-item__title {
  color: #4D533C;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
}
.privelegy-item__descr {
  color: rgba(33, 56, 66, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.privelegy-item__btn {
  color: #D4D6D4;
  margin-top: auto;
}

.team {
  margin-top: 150px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  left: 0;
  top: 180px;
  width: 80%;
  padding-left: calc((100% - 1110px) / 2);
  padding-right: 15px;
}
.team__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4D533C;
  padding-top: 70px;
}
.team__btn {
  margin-top: 50px;
  padding-bottom: 70px;
}

.footer {
  padding-top: 300px;
  background-image: url("../img/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 128px;
     -moz-column-gap: 128px;
          column-gap: 128px;
  border-bottom: 2px solid #5D6544;
  width: 100%;
}
.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
}
.footer-item__text {
  display: block;
  color: #B6C197;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.footer-item__value {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 52px;
}
.footer-middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr 70px 1fr 70px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.footer__column {
  margin-top: 60px;
}
.footer__column:nth-child(3) {
  border-right: 2px solid #5D6544;
}
.footer__title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
}
.footer__list {
  margin-top: 21px;
}
.footer__item {
  color: #B6C197;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.footer__text {
  color: #B6C197;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 23px;
}
.footer-mail {
  display: inline-block;
  margin-top: 23px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.footer-bottom {
  margin-top: 60px;
  border-top: 2px solid #5D6544;
}
.footer-bottom__container {
  padding-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.social-link {
  display: block;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  background-color: #FFD723;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px auto;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.social-link:hover {
  opacity: 1;
}
.social-link-fb {
  background-image: url("../img/facebook.png");
}
.social-link-tw {
  background-image: url("../img/twitter.png");
}
.social-link-g {
  background-image: url("../img/google.png");
}
.social-link-in {
  background-image: url("../img/linkedin.png");
}
.social-item {
  margin-right: 11px;
}
.social-item :last-child {
  margin-right: 0;
}

.copyright {
  color: #B5C096;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}