@media(max-width: 877.99px) {
   .stack {
      opacity: 1;
   }

   .stack__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .stack__img {
      width: 200px;
      height: 200px;
   }

   .works {
      opacity: 1;
   }

   .contacts {
      opacity: 1;
   }

   .footer {
      margin-top: 90px;
   }
}

@media(max-width: 623.99px) {
   h1 {
      font-size: 30px;
   }

   .header__container {
      flex-direction: column;
      justify-content: center;
   }

   .header__logo {
      margin: 0 0 10px 0;
   }

   .header__link {
      font-size: 1rem;
   }

   .header__list li {
      margin: 0 0 0 35px;
   }

   .header__right {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .stack {
      margin-top: 90px;
   }

   .stack__items {
      margin-top: 45px;
      row-gap: 50px;
   }

   .info {
      margin-top: 50px;
   }

   .info__body {
      font-size: 18px;
      line-height: 28px;
      margin: 20px 0 0 0;
   }

   .info__container {
      flex-direction: column;
   }
   .info__img{
      margin-right: 0;
   }
   .info__img img{
      max-width: 100%;
   }

   .stack__img {
      width: 130px;
      height: 130px;
   }

   .button{
      font-size: 1rem;
      margin-top: 0px;
   }

   .works__body {
      margin-left: 30px;
   }

   .works__subtitle{
      font-size: 24px;
   }

   .works__text {
      font-size: 14px;
      line-height: 20px;
      margin-top: 20px;
   }

   .footer {
      margin-top: 50px;
   }

   .footer__list {
      display: grid;
      grid-template-columns: repeat(2, 60px);
   }
   .footer-item-gm{
      display: -webkit-box;
   }
   .footer__text {
      font-size: 12px;
   }
}